header{
	color: white;
	background-color: darkred;
	text-align: center;
	font-size: 20px;
	padding: 3px;
}

.caption{
	letter-spacing: 10px;
	text-align: center;
	line-height: 2;
	font-size: 70px;
	font-family: serif;
}

.jacket{
	text-align: center;
}

.summary{
	text-align: center;
	font-size: 20px;
	background-color: oldlace;
	padding: 10px;
}

.introduction{
	text-align: center;
	font-size: 20px;
}

.description{
	font-size: 20px;

}

.image{
	display: flex;
	margin-right: 5px;
	margin=left: 5px;
}

.desc{
	margin-left: 20px;
}

.logo{
	text-align: center;
	font-size: 30px;
}



























